cs-exchange {
    display: block;
    flex: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-name {
    font-weight: normal;
    font-size: 24px;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.exchange-form {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
