form(autocomplete="false" ng-submit="vm.exchange(vm.date, vm.amount, vm.from, vm.to)" ng-hide="vm.emptyDBMessage").form.form-horizontal.exchange-form
    h1.app-name Exchange
    alert(type="danger" ng-show="vm.errorMessage" close="vm.errorMessage = ''") {{vm.errorMessage}}
    .form-group
        .col-sm-12
            input(type="date" is-auto-fill-sync="" ng-model="vm.date" required)#exc_date.form-control
    .form-group
        .col-sm-6
            input(type="number" is-auto-fill-sync="" ng-model="vm.amount" required)#exc_amount.form-control
        .col-sm-6
            select(ng-model="vm.from", ng-options="currency.code for currency in vm.currencies" required)#exc_from.form-control
    .form-group
        .col-sm-6
            input(type="number" is-auto-fill-sync="" ng-model="vm.result", readonly="readonly" required)#exc_result.form-control
        .col-sm-6
            select(ng-model="vm.to", ng-options="currency.code for currency in vm.currencies" required)#exc_to.form-control
    .form-group
        .col-sm-offset-6.col-sm-6
            button(type="submit" ng-hide="vm.progress").btn.btn-info Exchange
            button(type="submit" ng-show="vm.progress" disabled).btn.btn-default Loading...

form.form.form-horizontal
    alert(type="info" ng-show="vm.emptyDBMessage" close="vm.emptyDBMessage = ''") <strong>Database is empty.</strong> Please, exec <code>app/console rbkg:exchange:parse %date%</code> on cli first.