@import '../common/common';

@import 'exchange/exchange';

html,body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}

.toolbar {
    padding: 10px;
}

ui-view,
cs-app {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
}

.app {


}
