{% if use_ssl %}
server {
    listen {{ nginx_listen_port }};
    {% if app_domain %}server_name {{app_domain}};{% endif %}
    rewrite     ^   https://$server_name$request_uri? permanent;
}
{% endif %}

server {
    {% if use_ssl %}
    listen 443 ssl;
    {% else %}
    listen {{ nginx_listen_port }};
    {% endif %}

    {% if app_domain %}server_name {{app_domain}};{% endif %}

    root {{ nginx_root_dir }};
    client_max_body_size {{ nginx_client_max_body_sze }};

    gzip             on;
    gzip_comp_level  2;
    gzip_min_length  1000;
    gzip_proxied     expired no-cache no-store private auth;
    gzip_types       text/plain application/x-javascript application/javascript application/json text/xml text/css application/xml;

    location /api {
        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
    }

    location /frontend {
       try_files $uri /frontend/index.html$is_args$args;
    }

    location / {
        rewrite ^/(.*)$ /frontend/$1;
    }

    location ~ ^/(app|app_dev)\.php(/|$) {
        fastcgi_pass {{nginx_php_upstream}};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    error_log {{nginx_error_log}};
    access_log {{nginx_access_log}};
}

