.navbar.navbar-default
    .container-fluid
        .navbar-brand Calstar
        ul.nav.navbar-nav
            li(ui-sref-active="active")
                a(ui-sref="flights") Manage Flights <span ng-show="vm.stats.pending" class="badge" title="Pending flights">{{vm.stats.pending}}</span>
            li(ui-sref-active="active")
                a(ui-sref="hospitals") New Hospitals and Units <span ng-show="vm.pendingRequests" class="badge" title="Pending flights">{{vm.pendingRequests}}</span>
            li(ui-sref-active="active")
                a(ui-sref="users" ng-show="vm.user.isAdmin") Manage users
        ul(dropdown keyboard-nav).nav.navbar-nav.navbar-right
            li.dropdown
                a(href="#" dropdown-toggle).dropdown-toggle Hi, {{vm.user.firstName}}
            ul(role="menu" aria-labelledby="simple-btn-keyboard-nav").dropdown-menu
                li
                    a(href="#" ng-click="vm.logout()") Logout
