.date-range
  button(
    type="button"
    popover-placement="bottom"
    popover-append-to-body="true"
    popover-is-open="vm.popoverOpened"
    popover-template="'filters/date.html'"
    ng-attr-title="{{::label}}: {{vm.selectedValue}}"
  ).btn.btn-default.btn-date-filter {{::label}}: {{vm.selectedValue}}

script(type="text/ng-template" id="filters/date.html")
  .date-filter
    .checkbox
      label
        input(type="radio" ng-model="vm.filterType" ng-value="'withing'" name="date_filter_type")
        | Within the last
        input(type="text" ng-model="vm.within.val").form-control.input-sm.input-xsm
        select(ng-model="vm.within.unit").form-control.input-sm
          option Minutes
          option Hours
          option Days
          option Weeks

    .checkbox
      label
        input(type="radio" ng-model="vm.filterType" ng-value="'morethan'" name="date_filter_type")
        | More than
        input(type="text" ng-model="vm.moreThan.val").form-control.input-sm.input-xsm
        select(ng-model="vm.moreThan.unit").form-control.input-sm
          option Minutes
          option Hours
          option Days
          option Weeks
        | ago

    .checkbox.date-range-inputs
      label
        input(type="radio" ng-model="vm.filterType" ng-value="'range'" name="date_filter_type")
        | Between
        input(type="text" readonly datepicker-popup="{{vm.dateFormat}}" ng-click="vm.openedFrom = true" is-open="vm.openedFrom" ng-model="vm.dateRange.from").form-control.input-sm
        | and
        input(type="text" readonly datepicker-popup="{{vm.dateFormat}}" ng-click="vm.openedTo = true" is-open="vm.openedTo" ng-model="vm.dateRange.to").form-control.input-sm
    .date-filter__buttons
      button(type="button" ng-click="vm.applyFilter('test')").btn.btn-default Apply
      button(type="button" ng-click="vm.clear()").btn.btn-link Clear
