dx-date-filter {
  display: inline-block;
}

.popover {
  max-width: 300px;
}

.btn-date-filter {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-filter {
  padding-left: 5px;

  &__buttons {
    text-align: left;
  }

  .checkbox {
    margin-bottom: 20px;

    input[type=radio] {
      margin-right: 5px;
    }

    label {
      padding-left: 0;
      font-size: 12px;
    }
  }

  .form-control {
    display: inline-block;
    width: auto;
    margin: 0 5px;
  }

  .input-sm {
    padding: 5px;
  }

  .input-xsm {
    width: 40px;
  }

  .row {
    margin-bottom: 10px;
  }
}

.date-range-inputs {
  font-size: 12px;
  input[type=text] {
    width: 75px;
  }
}
